<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{ request.path }}
    <a href="{% url 'about' %}">About</a>
    <div>Lol</div>
    <form action="{% url 'formdata' %}">
        {% csrf_token %}
        <input type="text" name="ipt1">
        <input type="text" name="ipt2">
        <button type="submit">Submit karo</button>
        {{output}}
    </form>
</body>

</html>