<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{ request.path }}
    <a href="{% url 'about' %}">About</a>
    <div>Lol</div>
    {% if error %}
    <div> error </div>
    {% endif %}
    <form action="{% url 'formdata' %}">
        {% csrf_token %}
        {{output}}
        {% for item in output %}
        <a href="/item/{{item.slug}}">{{item.service_title | safe}}</a>
        <div>{{item.service_title | lower}}</div>
        <div>{{item.service_title | upper}}</div>
        <div>{{item.service_title | first}}</div>
        <div>{{item.service_title | length}}</div>
        {% endfor %}
        <button type="submit">Submit karo</button>
    </form>
</body>

</html>